<div class="container mt-5">
  <div class="card-container">
    <div class="col-md-4" *ngFor="let item of foodList">
      <div class="card mb-3">
        <img class="card-img-top" [src]="item.imageUrl" alt="{{item.name}} image">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p class="card-text text-center">{{ item.description }}</p>
          <p class="card-text text-center">{{ item.price | currency }}</p>
          <button class="btn btn-primary d-block mx-auto" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
