@import "~bootstrap/dist/css/bootstrap.min.css";


// .card {
//   border: 1px solid #ccc;
//   border-radius: 10px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//   margin-bottom: 30px;
//   transition: box-shadow 0.3s ease;
// }

// .card:hover {
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
// }

// .card-img-top {
//   height: 200px;
//   object-fit: cover;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
// }

// .card-body {
//   padding: 20px;
// }

// .card-title {
//   margin-bottom: 10px;
//   font-weight: bold;
//   font-size: 24px;
//   color: #343a40;
// }

// .card-text {
//   margin-bottom: 20px;
//   font-size: 18px;
//   color: #6c757d;
// }

// .card-price {
//   font-weight: bold;
//   font-size: 24px;
//   color: #343a40;
// }

// .btn-primary {
//   background-color: #007bff;
//   border-color: #007bff;
//   font-size: 18px;
// }

// .btn-primary:hover {
//   background-color: #0069d9;
//   border-color: #0062cc;
// }

// .btn-primary:focus {
//   box-shadow: none;
//   outline: none;
// }

// .btn-primary:active {
//   background-color: #0062cc;
//   border-color: #005cbf;
// }
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

